@import "./global/global.css";
@import "./global/header.css";

/* Hero */
@import "./hero/hero.css";

/* Produtos */
@import "./produtos/produtos.css";

/* Home */
@import "./home/productOverview.css";
@import "./home/productFeatures.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html {
  overflow-x: hidden; 
}
